<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}<link href="{{ asset('css/navbar.css') }}" rel="stylesheet"/>{% endblock %}
        <style>
       
        </style>
    </head>
    <body> 
        {% block body %}
		   {% include('inc/navbar.html.twig') %}

		{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
