 {% block sidebar %}
<div class="nav">
	<div class="nav-title">
		<h1>Movie Rental</h1>
	</div>

	<div class="nav-menu">
		<ul>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
</div>
{% endblock %}