{% extends 'base.html.twig' %}
{% block stylesheets%}
  {{ encore_entry_link_tags('app') }}
{% endblock %}
  
{% block body %}
<table class="table">
{% for movie in movies %}
    <tr>
      <td class="border-1">title: {{movie.movie.title}}</td>
      <td>premiere: {{movie.movie.premiere.date}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}